<html>
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <title>Las elecciones</title>
    </head>
    <body @keyup.delete="cero">
        <div class="container">
            <h1>Gente de Vue</h1>
            <div>
                <ul class="list-group">
                    <li v-for="i in candidato" class="list-group-item">
                        {{i.nombre}} {{i.votos}}
                        <button v-on:click="i.votos++">
                            Votar
                        </button>
                        
                    </li>
                </ul>
            </div>
            <h2>El alcalde es {{alcalde.nombre}}</h2>
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.js"></script>
    <script type="text/javascript">
    new Vue({
        el: 'body',
        data: {
            candidato: [
                {
                    nombre: "Mr. Black",
                    votos: 0
                },
                {
                    nombre: "Mr. Pink",
                    votos: 0
                },
                {
                    nombre: "Mr. White",
                    votos: 0
                },
                {
                    nombre: "Mr. Brown",
                    votos: 0
                }
            ]
        },
        methods: {
            cero: function() {
                this.candidato = this.candidato.map(function(i){
                    i.votos = 0;
                    return i
                })

            }
        },
        computed: {
            alcalde: function(){
                var candidato_ord = this.candidato.sort(function(a,b){
                    return b.votos-a.votos;
                });
                return candidato_ord[0]
            }
        }
    })
    </script>
</html>